@media all  and (max-width: 1500px) {

    .products{
        /*justify-content: center;*/
    }

    .product5{
        display: none
    }
}

@media all  and (max-width: 1080px) {

    .left__text{
        padding-left: 70px;
    }

    .right__text{
        padding-right: 70px;
    }

    .product4 {
        display: none;
    }
}

@media all  and (max-width: 985px) {
    .products{
        margin-left: 0px;
    }
}

@media all  and (max-width: 768px) {

}