* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif; 
}

header {
    width: 100%;
    background: #F0F3F4;
    padding: 12px 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #17201F;
}

button {
    font-family: 'Poppins', sans-serif; 
}

.header__nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 27px;
}

.header__menu {
    display: flex;
}

.menu__item {
    margin: 0 32px 0 32px;
    font-size: 1.125em;
}

.header__div {
    display: flex;
    align-content: center;
    align-items: center;
}

.header__search {
    padding: 0;
    height: 24px;
    width: 24px;
    margin: 0 32px 0 0;
    background-color: transparent;
    border: transparent;
    align-items: center;
}

.header__btn {
    width: 140px;
    height: 40px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}

.banner {
    width: 100%;
    height: 700px;
}

.banner__gradient {
    position: relative;
}

.banner__gradient::after{
    
    content: '';

    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, #F0F3F4 0%, rgba(83, 99, 97, 0.25) 100%);
    position: absolute;
    
}

.banner__img {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, #F0F3F4 0%, rgba(83, 99, 97, 0.25) 100%);
    object-fit: cover;
    
}

.banner__body {
    top: 183px;
    left: 135px;
    position: absolute;
    width: 570px;
    height: 393px;
    padding: 0;
}

.banner__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.5em;
    margin-bottom: 56px;
}

.banner__txt {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 24px;
}

.banner__btn {
    width: 200px;
    height: 60px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}

.proof {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F3F4;
    padding-top: 132px;
}



.proof__quote {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    top:132px;
    left: 366px;
    margin-bottom: 19px;
    color: #17201F;
}

.logo__rps {
    width: 41px;
    height: 41px;
    margin-bottom: 23px;

}

.proof__nametag {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    color: #17201F;
    
}

.features {
    display: block;
}

.left {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    background: #D7DCE0;
}

.left__img {
    width: 50%;
    height: 600px;
    object-fit: cover;
}

.left__text{
    width: 50%;
    padding: 179px 0 0 114px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #17201F;

}

.left__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 24px;
    color: #17201F;
}

.left__button{
    width: 200px;
    height: 60px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}

.right {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    background: #F0F3F4;
}

.right__text {
    width: 50%;
    padding: 179px 114px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #17201F;
}

.right__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 24px;
    color: #17201F;
}

.right__button {
    width: 200px;
    height: 60px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}

.right__img {
    left: 50%;
    width: 50%;
    height: 600px;
    object-fit: cover;
}

.catalog {
    width: 100%;
    height: 820px;
    padding-top: 96px;
    padding-bottom: 120px;
    background: #D7DCE0;
    align-items: center;
}

.catalog__title {
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 60px;
    text-align: center;
}

.products {
    display: flex;
    width: 270px;
    height: 436px;
}

.products__box {
    margin-top: 30px;
    margin-left: 30px;
}

.products, img {
    height: 270px;
    width: 270px;
    object-fit: cover;
}

.products__details {
    background: #F0F3F4;
    width: 100%;
    height: 166px;
    padding: 24px 24px 13px 24px;
}

.products__title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 74px;
    color: #17201F;
}

.products__more {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    color: #17201F;
}

.newsletter {
    width: 100%;
    height: 568px;
    padding: 120px 0 140px 0;
    align-items: center;
    background: #F0F3F4;
}

.newsletter__title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 47px;
    text-align: center;
    color: #17201F;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms__inputs {
    font-family: Poppins;
    width: 360px;
    height: 64px;
    background: transparent;
    border: 1px solid #17201F;;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    padding-left: 25px;
}

.forms__inputs::placeholder{
    color: rgba(147, 177, 177, 0.5);
}

.forms__btn {
    font-family: Poppins;
    width: 360px;
    height: 64px;
    background: #93B1B1;
    border: 1px solid #17201F;;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    color: #F0F3F4;
}

.footer{
    width: 100%;
    height: 410px;
    background: #93B1B1;
    padding-top: 111px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.footer__list{
    display: flex;
    margin-bottom: 114px;
}

.footer__item{
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    color: #F0F3F4;
    margin-left: 32px;
    margin-right: 32px;
}

.footer__img{
    width: 140px;
    height: 27px;
    margin-left: 88px;
    margin-right: 88px;
}

.footer__socials{
    display: flex;
    margin-bottom: 64px;
}

.socials__item{
    margin-left: 12px;
    margin-right: 12px;
}

.socials__img{
    width: 40px;
    height: 40px;
}

.footer__copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    color: #F0F3F4;
    text-align: center;
}