* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif; 
}

header {
    width: 100%;
    background: #F0F3F4;
    padding: 12px 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #17201F;
}

button {
    font-family: 'Poppins', sans-serif; 
}

.header__nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 27px;
}

.header__menu {
    display: flex;

}

.menu__item {
    margin: 0 32px 0 0;
    font-size: 1.125em;
}

.header__search {
    padding: 0;
    height: 24px;
    width: 24px;
    margin: 0 32px 0 0;
    background-color: transparent;
    border: transparent;
    align-items: center;
}

.header__btn {
    width: 140px;
    height: 40px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}

.banner {
    width: 100%;
    height: 700px;
}

.banner__img {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, #F0F3F4 0%, rgba(83, 99, 97, 0.25) 100%);
    object-fit: cover;
    
}

.banner__body {
    top: 183px;
    left: 135px;
    position: absolute;
    width: 570px;
    height: 393px;
    padding: 0;
}

.banner__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.5em;
    margin-bottom: 56px;
}

.banner__txt {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 24px;
}

.banner__btn {
    width: 200px;
    height: 60px;
    background: #93B1B1;
    border: 1px solid #17201F;
    border-radius: 5px;
    color: #F0F3F4;
    font-size: 1.125em;
}